* {
  box-sizing: border-box;
}
/*He omitido ciertas reglas para optimizar el codigo pero las dejo plasmadas como comentarios*/
.container {
  display: grid;
  text-align: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 800px 400px 50px;
  grid-auto-flow: dense;
  margin: 20px auto;
  width: 90%;
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/*Header*/
#primero {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 130%;
  border: 1px solid black;
}
/*Nav*/
#segundo {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  margin-top: 20%;
}
/*Main*/
#tercero {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin-top: 10%;
}
#tercero img{
  width: 60%;
}
/*Article1*/
#cuarto {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  margin-top: 20%;
}
#cuarto img{
  width: 70%;
}
/*Article2
#cinco {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}*/
#cinco img{
  width: 40%;
}
/*Article3
#seis {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}*/
#seis img{
  width: 40%;
}
/*Article4
#siete {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}*/
#siete img{
  width: 40%;
}
/*Footer*/
#ocho {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}
#ocho img{
  width: 5%;
}

td{
  width: 800px;
}

img{
  border-radius: 20%;
}